* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.pets {
  display: flex;
  flex-flow: wrap;
  margin: 1em;
  justify-content: space-evenly;
}

.pet {
  margin: 2em;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}

.pet-type {
  text-transform: uppercase;
}

.pet img {
  width: 250px;
  height: 250px;
}

.pet-name {
  padding-top: 4px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/*********************** Buttons ***********************/
/*cat-button*/
.catButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background-color: red;
  border-radius: 3px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
}
.catButton:hover {
  background-color: darkred;
}
.catButton:active {
  position: relative;
  top: 1px;
}

/*dog-button*/
.dogButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background-color: blue;
  border-radius: 3px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
}
.dogButton:hover {
  background-color: darkblue;
}
.dogButton:active {
  position: relative;
  top: 1px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 50px;
}

/*dino-button*/
.dinoButton {
  background-color: orange;
  border-radius: 3px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
}
.dinoButton:hover {
  background-color: darkorange;
}
.dinoButton:active {
  position: relative;
  top: 1px;
}

/*all-button*/
.allButton {
  background-color: black;
  border-radius: 3px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
}
.allButton:hover {
  background-color: darkgray;
}
.allButton:active {
  position: relative;
  top: 1px;
}
